doctype html
html
    head
        title='Blog page'
    body
        h1 Hello Blog
        div
            h6=status
            h6 All blogs herer
            form(action='/chat/blog', method='post')
                input(type='text' name='title', placeholder='Title here')
                br
                input(type='text' name='message', placeholder='Message/Blog herer')
                br
                button(type='submit') Submit Blog